body {
  font-family: $font-family;
  font-size: $base-font-size;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: $primary-color;
  color: white;
  @include flex-center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

h1, h2 {
  font-family: $heading-font-family;
}

section {
  padding: $spacing-unit * 2;
}

footer {
  background-color: $secondary-color;
  color: white;
  text-align: center;
  padding: $spacing-unit;
}

main {
  margin-top: $header-height + ($spacing-unit * 2); // Ajusta el margen superior para que no tape el contenido
}