@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin section-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: $primary-color;
}

@mixin button($color) {
  background-color: get-color($color);
  color: get-color(white);
  padding: $spacing-unit $spacing-unit * 2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: darken(get-color($color), 10%);
  }
}