header {
  background-color: $primary-color;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 10px 50px;
  transition: top 0.3s ease-in-out;

  .logo {
    flex: 1; // Hace que el logo se quede alineado a la izquierda
    margin-right: 80px; // Ajusta la separación del logo
    img {
      height: 40px; // Ajusta el tamaño del logo
    }
  }

  .nav-links {
    display: flex;
    gap: 40px; // Separa los elementos del menú
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    
    a {
      text-decoration: none;
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $accent-color;
      }
    }

    .separator {
      color: white;
      font-size: 14px;
    }
  }
}


.hide-header {
  top: -$header-height; 
}