header {
  background-color: $primary-color;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 10px 50px;
  transition: top 0.3s ease-in-out;

  .logo {
    flex: 1;
    margin-right: 80px;
    img {
      height: 40px;
    }
  }

  .hamburger {
    display: none; // Ocultar por defecto
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 1100; // Asegura que el botón esté por encima del menú
  }

  .nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $accent-color;
      }
    }

    .separator {
      color: white;
      font-size: 14px;
    }
  }

  &.hide-header {
    top: -$header-height;
  }

  @media (max-width: 768px) {
    padding: 10px 20px;

    .logo {
      margin-right: 0;
      margin-bottom: 10px;
    }

    .hamburger {
      display: block; // Mostrar en pantallas pequeñas
    }

    .nav-links {
      display: none;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      align-items: flex-start;
      background-color: $primary-color;
      position: absolute;
      top: 100%;
      left: 0;
      padding: 20px;

      a {
        font-size: 16px;
        width: 100%;
        text-align: left;
        padding: 10px 0;
      }
    }

    &.nav-open .nav-links {
      display: flex;
    }
  }
}